.main{
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #d29ed2, #eaeaea);
    padding: 20px;
    /* text-align: center; */
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(81, 1, 69);
}
nav ul{
    display: flex;
    list-style: none;

}
nav ul li{
    padding: 10px;
    margin: 10px 20px;
    position: relative;
}
nav ul li a{
    text-decoration: none;
    color: rgb(239, 228, 228);
    font-weight: 600;
    position: relative;
}
nav ul li a::after{
    content: '';
    position: absolute;
    height: 3px;
    bottom: -5px;
    left: 0;
    width: 0%;
    background: linear-gradient(rgb(160, 83, 190),rgb(190, 69, 188),rgb(115, 41, 97));
    transition: width 0.3s ease ;
}
nav ul li a:hover::after{
    width: 100%;
}
.footer{
    text-align: center;
    padding: 20px;
    background: linear-gradient(rgb(57, 15, 73),rgb(85, 10, 84),rgb(81, 9, 63));
    background-repeat: no-repeat;
    color: aliceblue;
}
.logout{
    color: rgb(221, 240, 239);
    font-weight: bold;
    display: flex;
    gap:10px;
    position: absolute;   
    right: 10%; 
}
.btn{
    width: fit-content;
    height: fit-content;
    padding: 10px 25px;
    background-color: blueviolet;
    color: rgb(221, 240, 239);
    font-weight: bold;
    border: none;
    border-radius: 10px;
}
.login{
    position: absolute;   
    right: 10%;
}
.btn a{
    text-decoration: none;
    color: rgb(221, 240, 239);
    font-weight: bold;
}
.btn:hover{
    background-color: rgb(79, 34, 121);
}